# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store                                                                                       
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



node_modules
build
.cache
public
.env
.DS_Store
*.log



# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/
.DS_Store
.vscode/
.idea/

# Логи и кеши
logs/
*.log
.cache/
coverage/

# Системные файлы
Thumbs.db
.DS_Store
